* {

    margin: 10;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00B4DB;
    /* Tu fondo de encabezado */
    padding: 10px;
}

.imagenicon {
    width: 90px;
    height: 80px;
    float: left;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1.texh1 {
    text-align: center;
    color: black;
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 10vw;
}

.grid {
    text-align: center;
    max-width: 100%;
    /* El div no será más ancho que el 100% del contenedor padre */
    width: 80%;
    /* Un ancho predeterminado que se aplica si la pantalla es lo suficientemente ancha */
    margin: 0 auto;
    /* Centra el div horizontalmente */
    padding: 20px;
    /* Añade algún espacio interior para el contenido */
    display: grid;
    background: #ffff99;
    color: #333;
}

/* Media query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 768px) {
    .imagenicon {
        width: 70px;
        height: 60px;
        float: left;
    }

    .grid {
        width: 90%;
        /* Cambia el ancho en pantallas más pequeñas */
        padding: 10px;
        /* Reduce el espacio interior en pantallas más pequeñas */
    }
}

.botones {
    padding: 10px;
    align-items: center;
    display: inline-block;
}

.btn {

    display: inline-block;
    margin: 4px;
}

.flex-box {
    width: 70px;
    height: 70px;
    background: linear-gradient(purple, red);
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    border-radius: 20px;
    margin: 2px;
}

.flex-box:hover {
    background: black;
}

.flex-box.clicked {
    background: black;
    cursor: default;
}